body{
    background-image: url(../img/speed-line-003-2.svg);
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    display: block ;
    visibility: visible;
    height: auto;
}

.cont-bloq {
    top: 12vh;
    display: table;
    margin: auto;
    background: white;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    max-width: 400px;
}

h2{
    font-size: 1.8rem;
}

p{
    color: #333;
    margin-bottom: 1.5rem;
}

.btn-desbloquear {
    padding: 14px 28px;
    border-radius: 12px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    background: linear-gradient(to bottom, #33e7d8, #18B3A8);
    position: relative;
    overflow: hidden;
    transition: all 0.2s ease-in-out;
    font-size: 18px;
    border: none;
    margin-top: 10px;
    color: white;
    font-family: 'Inter', sans-serif;
}

button#btn-desbloquear {
    margin: auto;
}


.btn-desbloquear::after {
    content: "";
    position: absolute;
    top: -80%;
    left: -100%;
    width: 250%;
    height: 250%;
    background: rgba(255, 255, 255, 0.1);
    transform: rotate(30deg);
    transition: all 0.5s ease-in-out;
}

.btn-desbloquear:hover {
    background: linear-gradient(to bottom, #11A89E, #1edfd2);
    transform: translateY(-1px);
    box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.15);
}

.btn-desbloquear:hover::after {
    top: 100%;
    left: 100%;
}

.navbar-nav{
    gap: 0 !important;
}


/* RESPONSIVIDAD */

@media screen and (max-width: 1004px){
    .menu-2{
        visibility: visible;
    }
    .menu-1, .hero-image{
        display: none;
    }
    .hero{
        max-width: 1400px;
        width: 100%;
        margin: 50px 30px 0px 30px;
    }
    section.hero-content.mb-4 {
        margin-top: 85px;
    }

    .cont-bloq{
        margin-top: 140px;
    }

    nav.navbar.bg-body-tertiary.fixed-top.menu-2 {
        background: linear-gradient(to right, rgb(181, 94, 190), rgb(62, 255, 226)), aqua;

    }
}


@media (max-width: 992px) {
    .logo {
        height: 50px;
    }

    .navbar-nav {
        flex-direction: column;
        text-align: center;
        gap: 10px;
    }
}

@media (max-width: 768px) {
    .cont-bloq {
        width: 90%;
    }

    h2 {
        font-size: 1.5rem;
    }

    p {
        font-size: 1rem;
    }

    .btn-desbloquear {
        font-size: 16px;
    }
}

@media (max-width: 480px) {
    .logo {
        height: 45px;
    }

    .navbar-toggler {
        padding: 8px;
    }

    .cont-bloq {
        width: 95%;
        padding: 1rem;
    }

    h2 {
        font-size: 1.2rem;
    }

    p {
        font-size: 0.9rem;
    }

    .btn-desbloquear {
        font-size: 14px;
    }
}