header {

    padding: 5px;
}



.navbar-nav .nav-link {
    color: white;
    font-weight: bold;
    padding: 10px 15px;
    transition: color 0.3s ease-in-out;
}

iframe{
    width: 95%;
}

.navbar-nav .nav-link:hover {
    color: #000000 
}

.navbar-nav {
    gap: 0px;
}

.mb-1{
    margin-top: -40px;
}

.text-fucsia{
    color: #7D2686;
}

.principal-seguridad{
    margin-top: 50px;
}

.card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: scale(1.05); 
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
}
.card-img-top {
    width: 90%;
    border-radius: 0px !important;
}

.titulo-container {
    background: #7D2686;
    color: white;
    text-align: center;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 15px;
    font-size: 22px;
    font-weight: bold;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.text-verde {
    color: #10CBB4;
}


.info-section {
    background: #f7f7f8; 
    padding: 30px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.1);
}

.info-section ul {
    padding-left: 20px;
}

.info-section li {
    margin-bottom: 10px;
    font-size: 16px;
}

.info-section strong {
    color: #d32f2f;
}


.video-text-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px; 
    margin-bottom: 40px;
}

.video-container {
    flex: 1;
    min-width: 300px;
}

.text-container {
    flex: 1;
    min-width: 300px;
}

/* Ajustes para el iframe */
.video-container iframe {
    width: 100%;
    height: 250px;
}

/* Para pantallas pequeñas, coloca el video encima del texto */

@media screen and (max-width: 1004px){
    .menu-2{
        visibility: visible;
    }
    .menu-1, .hero-image{
        display: none;
    }
    .hero{
        max-width: 1400px;
        width: 100%;
        margin: 50px 30px 0px 30px;
    }
    section.hero-content.mb-4 {
        margin-top: 85px;
    }
    h1.text-center.mb-1 {
        margin-top: 110px;
    }
}


@media (max-width: 768px) {
    .video-text-container {
        flex-direction: column;
    }
}

