
@import url('fonts.css');
/* REVISEN LO QUE NOS MANDO YAPE PARA EL DISEÑO Y EL LOGO */
body {
    margin: 0;
    padding: 0;
}


.title{
    color: white;
    font-size: 2rem;
    font-weight: bold;
}

.menu-1{
    margin-top: -97px
}

.card{
    background: white;
    border-radius: 12px;
}

.fag-item{
    background: #f8f9fa;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 15px;
    box-shadow: 0 2px 5px rgb(0, 0, 0, 0.1);
}

.btn-success{
    background-color: #10CBB4;
    border: none;
    font-size: 1.1rem;
}

.btn-success:hover{
    background-color: #00AD97;
}


.col-md-8.card.p-4.shadow {
    width: 90%;
    margin-bottom: 30px;
}



/* RESPONSIVE NAVBAR */

@media screen and (max-width: 1004px){
    .menu-2{
        visibility: visible;
        display: block !important;
    }
    .menu-1 {
        display: none;
    }
    .col-md-8.card.p-4.shadow {
        margin-top: 40px;
    }
}

@media screen and (max-width: 890px){
    .nav-links a{
        font-size: 14px;
    }
    .nav-links a i{
        font-size: 14px;
    }
    .category-button{
        font-size: 10px;
    }
}
