
@import url('fonts.css');
/* REVISEN LO QUE NOS MANDO YAPE PARA EL DISEÑO Y EL LOGO */
body {
    margin: 0;
    padding: 0;
}


/* NAVBAR */
header {

    padding: 5px;
}

.container-fluid, nav.navbar.bg-body-tertiary.fixed-top.menu-2  {
    background: linear-gradient(to right, rgb(181, 94, 190), rgb(62, 255, 226)), aqua;
}


nav.navbar.fixed-top.navbar-expand-lg {
    padding: 0;
}

nav {
    display: flex;
    align-items: center;
    height: 100px;
}

.logo {
    height: 100px;
    margin-left: 20px;
    transition: transform 0.4s ease-in-out;
}

.logo:hover {
    transform: scale(1.2);
}

.menu1-ul {
    margin: 0;
    list-style: none;
    display: flex;
    gap: 80px;
}
 
a.nav-link{
    color: white;
    text-decoration: none;
    font-weight: bold;
    line-height: 60px;
}

a.nav-link:hover{
    color: rgb(219, 185, 231);
    text-decoration: none;
    font-weight: bold;
    line-height: 60px;
}

.menu-1{
    height: 105px;
}

.menu-2{
    display: none;
    visibility: hidden;
}


.title{
    color: white;
    font-size: 2rem;
    font-weight: bold;
}

.menu-1{
    margin-top: -97px
}

.card{
    background: white;
    border-radius: 12px;
}

.fag-item{
    background: #f8f9fa;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 15px;
    box-shadow: 0 2px 5px rgb(0, 0, 0, 0.1);
}

.btn-success{
    background-color: #10CBB4;
    border: none;
    font-size: 1.1rem;
}

.btn-success:hover{
    background-color: #00AD97;
}


.col-md-8.card.p-4.shadow {
    width: 90%;
    margin-bottom: 30px;
}



/* RESPONSIVE NAVBAR */

@media screen and (max-width: 1004px){
    .menu-2{
        visibility: visible;
    }
    .menu-1, .hero-image{
        display: none;
    }
    .hero{
        max-width: 1400px;
        width: 100%;
        margin: 50px 30px 0px 30px;
    }
    section.hero-content.mb-4 {
        margin-top: 85px;
    }
}

@media screen and (max-width: 890px){
    .nav-links a{
        font-size: 14px;
    }
    .nav-links a i{
        font-size: 14px;
    }
    .category-button{
        font-size: 10px;
    }
}
