body {
    font-family: 'Poppins', sans-serif;
    background: url('/assets/img/city-003-1.svg') no-repeat center center/cover;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
}

.container {
    width: 100%;
    max-width: 500px;
    padding: 20px;
    background: rgba(255, 255, 255, 0.9); /* Un poco de transparencia */
    border-radius: 12px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
}


h2 {
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 10px;
}

p {
    font-size: 18px;
    margin-bottom: 20px;
    max-width: 90%;
}

form {
    background: white;
    padding: 25px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
    width: 100%;
    max-width: 400px;
}

input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 2px solid #b77ee0 ;
    border-radius: 8px;
    font-size: 16px;
    text-align: center;
    outline: none;
    transition: 0.3s ease-in-out;
}

input:focus {
    border-color: #b77ee0;
    box-shadow: 0px 0px 10px rgba(132, 9, 189, 0.5);
}

button {
    background-color:#6A0DAD; 
    color: white;
    border: none;
    padding: 12px 18px;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    width: calc(100% - 20px);
    transition: 0.3s ease-in-out;
    width: 100%;
}

button:hover {
    background-color: #9a42da;
    transform: scale(1.05);
}

#mensaje {
    margin-top: 15px;
    font-weight: bold;
    font-size: 16px;
}


/*responsividad*/

@media (max-width: 768px) {
    body {
        padding: 30px;
    }

    .container {
        width: 90%;
        padding: 25px;
    }

    h2 {
        font-size: 24px;
    }

    p {
        font-size: 16px;
    }

    input, button {
        font-size: 16px;
        padding: 12px;
    }
}

@media (max-width: 480px) {
    body {
        padding: 40px; /* 🔹 Más aire */
    }

    .container {
        width: 95%;
        padding: 20px;
    }

    h2 {
        font-size: 22px;
    }

    p {
        font-size: 14px;
    }

    input, button {
        font-size: 14px;
        padding: 10px;
    }
}
